<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @note.subject %>
</p>

<p>
  <strong>Chapter no:</strong>
  <%= @note.chapter_no %>
</p>

<p>
  <strong>Chapter name:</strong>
  <%= @note.chapter_name %>
</p>

<p>
  <strong>Body:</strong>
<%= raw(truncate(@note.body, :length => 80)) %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
